{% extends 'base.html.twig' %}

{% block title %}Edycja danych użytkownika{% endblock %}

{% block body %}
    <h1>Edytuj dane użytkownika</h1>
    {{ form_start(form) }}
    {{ form_row(form.password) }}

    <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
    {{ form_end(form) }}
{% endblock %}
