{% extends 'base.html.twig' %}

{% block title %}Nowy Tag{% endblock %}

{% block body %}
    <h1>Dodaj nowy tag</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <button class="btn btn-primary" type="submit">Zapisz</button>
    {{ form_end(form) }}
    <a href="{{ path('tag_index') }}" class="btn btn-secondary">Powrót do strony głównej</a>
{% endblock %}
